*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
        
body
{
    font-family: Tahoma, Arial; 
}

.slider-container
{
    margin: 10px auto;
    width: 500px;
    height: 300px;
    position: relative;
}

.slider-container img
{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    width: 250px;
    margin: 0 25%
}

.slider-container img.active
{
    opacity: 1;
}

.slider-num
{
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgb(100, 99, 99);
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
    z-index: 2;
    border-radius: 6px;
}

.slider-controls
{
    width: 500px;
    margin: auto;
    overflow: hidden
}

.slider-controls .prev, 
.slider-controls .next
{
    background-color: rgb(21, 105, 105);
    color: #fff;
    font-size: 16px;
    width: 80px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    user-select: none;
    width: 20%;
}

.slider-controls .prev
{
    float: left;
}

.slider-controls .next
{
    float: right;
}

.slider-controls .prev.disabled,
.slider-controls .next.disabled
{
    background-color: rgba(21, 105, 105, 0.514);
    cursor: no-drop;
}

.slider-controls .indectors
{
    width: 60%;
    float: left
} 

.slider-controls .indectors ul
{
    list-style: none;
    margin: 0;
    text-align: center
}

.slider-controls .indectors ul li
{
    display: inline-block;
    background-color: #fff;
    color: #333;
    font-weight: bold;
    height: 28px;
    border-radius: 4px;
    margin: 0 2px;
    padding: 0 5px;
    line-height: 28px;
    cursor: pointer;
}

.slider-controls .indectors ul li.active
{
    background-color: rgb(21, 105, 105);
    color: #fff;
}